version: "3.8"
services:
  admin:
    build: ./admin
    ports:
      - "3000:80"

  frontend:
    build: ./frontend
    ports:
      - "3001:80"

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - DB_HOST=mssql
      - DB_USER=sa
      - DB_PASSWORD=chamhoclen
      - DB_NAME=StudentDB
    depends_on:
      - mssql

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: "chamhoclen"
      ACCEPT_EULA: "Y"
    volumes:
      - mssql-data:/var/opt/mssql

volumes:
  mssql-data:
