/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
}

.login-container {
  display: flex;
  height: 100vh;
}

.left {
  height: 100vh;
  padding: 0;
  position: relative;
  width: 40%;
}

.background-left {
  height: 100%;
  position: relative;
  width: 100%;
}

.normal {
  width: 100%;
  display: block;
}

.content-note {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

.logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.logo-ghn {
  width: 400px; /* Điều chỉnh kích thước logo */
  height: auto;
  margin-top: 350px;
}

.left-row2, .left-row3 {
  text-align: center;
  color: white;
  font-weight: bold;
  z-index: 3;
}

.login-container .row-6{
  display: flex;
  flex-direction: column;
}

.background-left .backdrop {
  position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(230, 238, 245, 0), rgba(0, 51, 102, 0.9)); 
    top: 0;
    left: 0;
    z-index: 1; /* Đảm bảo không che nội dung */
}

.left-row2 {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  width: 80%;
}

.left-row3 {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  opacity: 0.8;
  margin-bottom: 30px;
}

.left h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

 .login-container .right {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px;
}

 .login-container .form-container {
  width: 100%;
  max-width: 500px;
  padding: 40px;
}

.login-container .title-login {
  text-align: center;
  margin-bottom: 65px;
}

.login-container .title-login h2 {
  font-size: 28px;
  color: #333;
  font-weight: 700;
}

.login-container .title-login p {
  font-size: 16px;
  color: #ff6339;
  margin-top: 10px;
  font-weight: bold;
}

.login-container .login-form {
  display: flex;
  flex-direction: column;
}

.login-form .form-group {
  margin-bottom: 20px;
}

.login-container .form-group-pw{
  display: flex;
  justify-content: space-between;
  margin-bottom: -9px;
}

.login-container .form-group-text {
  font-size: 14px;
  color: #5c6873;
  margin-bottom: 8px;
  font-weight: bold;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

 .login-form .input-field {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 18px;
  margin-top: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.login-container .input-field:focus {
  border-color: #4CAF50;
}

.input-field::placeholder{
  color: #c8c8c8;
}

.input-field.error {
  border-color: red;
}

.login-container .error-text {
  font-size: 15px;
  color: red;
  margin-top: 5px;
}

.login-form .link-container {
  margin-left: 10px;
}

.link-container a {
  font-size: 14px;
  color: red;
  text-decoration: none;
}

.link-container a:hover {
  text-decoration: underline;
}

.login-container .error-text {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}
.login-container .button {
  width: 100%;
  padding: 12px;
  background-color: #ff6339;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}


.login-container .login-row3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.text-normal {
  font-size: 20px;
  font-weight: bold;
  color: #024873; /* Màu xanh đậm */
}

.text-highlight {
  font-size: 20px;
  font-weight: bold;
  color: #ff5c39; /* Màu cam */
  text-decoration: none;
}

.text-highlight:hover {
  text-decoration: none;
}


.register-link {
  color: #ff6339;
  text-decoration: none;
}

.register-link span {
  font-weight: 600;
}

.register-link:hover {
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .left,
  .right {
      flex: none;
      width: 100%;
  }

  .form-container {
      padding: 20px;
  }

  .title-login h2 {
      font-size: 22px;
  }
}
