/* Sidebar tổng thể */
.sidebar {
    width: 250px;
    background-color: #00467f;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px 0 0 8px;
    overflow: hidden;
  }
  
  /* Header Sidebar */
  .sidebar__header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: #00467f;
    color: #ecf0f1;
  }
  
  .sidebar__logo {
    max-width: 100%;
    height: auto;
  }
  
  /* Thông tin người dùng */
  .sidebar__profile {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #00467f;
  }
  
  .sidebar__name {
    font-size: 18px;
    font-weight: 700;
    color: #ecf0f1;
  }
  
  /* Navigation */
  .sidebar__nav {
    flex-grow: 1;
    padding-top: 20px;
  }
  
  .sidebar__nav-item {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    color: white;
  }
  
  .sidebar__nav-item:hover {
    background-color: #ff967a;
  }
  
  .sidebar__nav-item.active {
    background-color: #f26522;
    color: white;
  }

  .sidebar__icon {
    margin-right: 15px;
  }
  
  /* Đăng xuất */
  .sidebar__nav-item.logout {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  

  